@define-color bg 				#1f1f28;
@define-color fg 				#dcd7ba;

@define-color black				#16161d;
@define-color red				#c34043;
@define-color green				#76946a;
@define-color yellow			#c8a36e;
@define-color blue				#7e9cd8;
@define-color magenta			#957fb8;
@define-color cyan				#6a9589;
@define-color white 			#c8c093;

@define-color bright_black 		#727169;
@define-color bright_red 		#e82424;
@define-color bright_green 		#98bb6c;
@define-color bright_yellow		#e6c384;
@define-color bright_blue 		#7fb4ca;
@define-color bright_magenta 	#938aa9;
@define-color bright_cyan 		#7aa89f;
@define-color bright_white 		#dcd7ba;

* {
    border: none;
    border-radius: 0;
    font-family: Lilex Nerd Font;
    font-size: 16px;
}

window#waybar {
    background: @black;
}

tooltip {
    background: @bg;
    border: 2 solid @fg;
}

tooltip label {
    color: @fg;
    padding: 0 8px;
}

#window {
	color: @fg;
}

#workspaces button {
    color: @bright_black;

    padding: 0;
    margin: 0;

    background: transparent;
    font-weight: bold;
}

#workspaces button.focused {
	color: @magenta;
    border-bottom: solid 2px @magenta;
}

#tray,
#idle_inhibitor,
#mode,
#clock,
#battery,
#pulseaudio,
#backlight {
    font-weight: 500;
    margin: 2px 2px 2px 2px;
    padding: 4px 4px;

    background: @black;
}

#tray {
    color: @blue;
}

#idle_inhibitor.deactivated {
    color: @bright_black;
}

#idle_inhibitor.activated {
    color: @bright_white;
}

#mode {
    color: @white;
}

#clock {
    color: @blue;
}

#pulseaudio {
    color: @yellow;
}

#pulseaudio.muted {
    color: @red;
}

#backlight {
    color: @bright_white;
}

#battery {
    color: @cyan;
}

#battery.charging,
#battery.full {
    color: @green;
}
