@define-color bg 				#1a1b26;
@define-color fg 				#c0caf5;

@define-color black				#15161e;
@define-color red				#f7768e;
@define-color green				#9ece6a;
@define-color yellow			#e0af68;
@define-color blue				#7aa2f7;
@define-color magenta			#bb9af7;
@define-color cyan				#7dcfff;
@define-color white 			#a9b1d6;

@define-color bright_black 		#414868;
@define-color bright_red 		#f7768e;
@define-color bright_green 		#9ece6a;
@define-color bright_yellow		#e0af68;
@define-color bright_blue 		#7aa2f7;
@define-color bright_magenta 	#bb9af7;
@define-color bright_cyan 		#7dcfff;
@define-color bright_white 		#c0caf5;

* {
    border: none;
    border-radius: 0;
    font-family: Lilex Nerd Font;
    font-size: 14px;
}

window#waybar {
    background: @black;
}

tooltip {
    background: @bg;
    border: 2 solid @fg;
}

tooltip label {
    color: @fg;
    padding: 0 8px;
}

#workspaces button {
    color: @bright_black;

    padding: 0;
    margin: 0;

    background: transparent;
    font-weight: bold;
}

#workspaces button.focused {
	color: @fg;
    border-bottom: solid 2px @fg;
}

#tray,
#idle_inhibitor,
#mode,
#clock,
#battery,
#pulseaudio,
#backlight {
    font-weight: 500;
    margin: 2px 4px 0px 4px;
    padding: 4px 6px;

    background: @black;
}

#tray {
    color: @blue;
}

#idle_inhibitor.deactivated {
    color: @bright_black;
    border-bottom: 2 solid @bright_black;
}

#idle_inhibitor.activated {
    color: @bright_white;
    border-bottom: 2 solid @bright_white;
}

#mode {
    color: @white;
    border-bottom: 2 solid @white;
}

#clock {
    color: @blue;
    border-bottom: 2 solid @blue;
}

#pulseaudio {
    color: @yellow;
    border-bottom: 2 solid @yellow;
}

#pulseaudio.muted {
    color: @red;
    border-bottom: 2 solid @red;
}

#backlight {
    color: @bright_white;
    border-bottom: 2 solid @bright_white;
}

#battery {
    color: @cyan;
    border-bottom: 2 solid @cyan;
}

#battery.charging,
#battery.full {
    color: @green;
    border-bottom: 2 solid @green;
}
